body{
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}
.insideContainer {
    background-color: whitesmoke;
    margin: 25px;
    padding: 15px;
    border: 2px solid black;
    width: auto;
    height: auto;
    flex-direction: column;
  

    
}
h1{
    margin: 1rem;
    background-color: brown;
    color: white;
    font-weight: 600;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.choices {
    text-align: left;
    width: 100%;
}

.btn-Choices{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    
}

.btn-Choices:hover{
    cursor: pointer;
    background-color: burlywood;
}

.timeLeft{
    background-color: orangered;
    color: whitesmoke;
    font-weight: 600;
    padding: 5px;
}
.buttonNext{
    display: flex;
    justify-content: end;
}

#startButton{
    font-weight: 600;
    background-color: blueviolet;
    padding: 6px 15px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.blue{
    background-color: blue;
    color: white;
}
.hiddenclass{
    display: none;

}

.wrong{
    background-color: red;
}
.correct{
    background-color: orangered;
    color: black;
}
.rules{
    border: 2px solid red;
    outline: 2px solid black;
    outline-offset: 5px;
    border-radius: 5px;
}